</br>
</br>
</br>
<p class="fonty" align="center">
<%= image_tag @picture.image.url(:medium) %>


  <strong class="fonty">عنوان الصورة:</strong>
  <%= @picture.title  %>


</br>
</br>
<%= link_to 'تعديل', edit_picture_path(@picture) , class:"fonty", align:'canter' %> |
<%= link_to 'رجوع', pictures_path , class:"fonty" %>
</p>
